.container
{
    width: 208px;
    height: 164px;
}
.container A IMG
{
    width: 208px;
    height: 164px;
}
.container IMG
{
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-left-style: none;
}
.td_f A IMG
{
    padding-bottom: 0px;
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
}
.num
{
    position: absolute;
    width: 90px;
    float: right;
    top: 145px;
    left: 150px;
}
.num LI
{
    text-align: center;
    line-height: 15px;
    list-style-type: none;
    margin: 1px;
    width: 15px;
    font-family: Arial;
    background: url(../images/flashbutton.gif) no-repeat -15px 0px;
    float: left;
    height: 15px;
    color: #86a2b8;
    font-size: 12px;
    cursor: pointer;
}
.num LI.on
{
    line-height: 15px;
    width: 15px;
    background: url(../images/flashbutton.gif) no-repeat;
    height: 15px;
    color: #ffffff;
}
