<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>北京中仑工业微生物研究所</title>
<meta name="keywords" content="北京中仑工业微生物研究所">
<meta name="description" content="北京中仑工业微生物研究所">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/basic.css" type="text/css" rel="stylesheet" />
<link href="css/smallslider.css" type="text/css" rel="stylesheet" />
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jquery.smallslider.js" type="text/javascript"></script>
<script src="js/all.js" type="text/javascript"></script>
</head>
<body>
<div class="top">
	<div class="wrap clearfix">
    	<div class="top-a pull-right">
        	<a href="#">设为首页</a>
        	<a href="#">加入收藏</a>
        	<a href="#">帮助中心</a>
		</div>
		欢迎访问北京中仑工业微生物研究所
	</div>
</div>

<div class="head">
	<div class="wrap"></div>
</div>

<div class="white-bg">
	<div class="menu clearfix">
    	<ul>
    		<li class="current"><a href="#">网站首页</a></li>
    		<li><a href="#">机构介绍</a></li>
            <li><a href="#">新闻资讯</a></li>
    		<li><a href="#">委托检测</a></li>
    		<li><a href="#">科研动态</a></li>
    		<li><a href="#">质控菌株</a></li>
            <li><a href="#">菌种鉴定</a></li>
    		<li><a href="#">工业培养基</a></li>
            <li><a href="#">微生物论坛</a></li>
            <li><a href="#">技术与培训</a></li>
    		<li><a href="#">联系我们</a></li>
    	</ul>
    </div>
    
    <div class="notice pull-left mt10">
    	<div class="notice-t"><a href="#" class="more1">更多</a>通知公告</div>
    	<div class="notice-c">
    		<ul class="list">
            	<li><a href="#">关于召开第四界第四次会议的通知 <img src="img/new.gif"></a></li>
    			<li><a href="#">关于召开第四界第四次会议的通知 <img src="img/new.gif"></a></li>
                <li><a href="#">关于召开第四界第四次会议的通知 <img src="img/new.gif"></a></li>
                <li><a href="#">关于召开第四界第四次会议的通知 <img src="img/new.gif"></a></li>
        		<li><a href="#">关于召开第四界第四次会议的通知</a></li>
        		<li><a href="#">关于召开第四界第四次会议的通知</a></li>
        		<li><a href="#">关于召开第四界第四次会议的通知</a></li>
        	</ul>
            <img src="img/p1.jpg" style="margin-top:10px">
        </div>
    </div>
    
    <div class="news-center-box mt10 pull-left ml10">
    	<div class="news-pic smallslider">
        	<ul>
        		<li><a href="#"><img src="img/timg.jpg" width="415" height="240" alt="关于召开第四界第四次会议的通知参加会议的照片"></a></li>
                <li><a href="#"><img src="img/timg.jpg" width="415" height="240" alt="关于召开第四界第四次会议的通知参加会议的照片"></a></li>
                <li><a href="#"><img src="img/timg.jpg" width="415" height="240" alt="关于召开第四界第四次会议的通知参加会议的照片"></a></li>
                <li><a href="#"><img src="img/timg.jpg" width="415" height="240" alt="关于召开第四界第四次会议的通知参加会议的照片"></a></li>
        	</ul>
        </div>
    	<div class="search clearfix">
    		<input type="text" placeholder="请输入您的关键字">
    		<button>搜索</button>
    	</div>
    </div>
    
    <div class="news pull-right mt10" >
    	<div class="news-t clearfix">
        	<a href="#" class="more2" style="margin-top:15px"></a>
        	新闻资讯
        </div>
    	<div class="news-c">
    		<ul class="list">
        		<li><samp>【置顶】</samp><a href="#">关于召开第四界第四次会议的通知</a></li>
        		<li><a href="#">关于召开第四界第四次会议的通知</a></li>
        		<li><a href="#">关于召开第四界第四次会议的通知</a></li>
                <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                <li><a href="#">关于召开第四界第四次会议的通知</a></li>
        		<li><a href="#">关于召开第四界第四次会议的通知</a></li>
        		<li><a href="#">关于召开第四界第四次会议的通知</a></li>
                <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                <li><a href="#">关于召开第四界第四次会议的通知</a></li>
        	</ul>
    
    	</div>
    </div>
    
    <div class="clear"></div>
    
    <div class="top-banner clearfix">
    	<div class="pull-left"><img src="img/p3.jpg"></div>
    	<div class="pull-right"><img src="img/p4.jpg"></div>
    </div>
    
    <div class="center-l pull-left">
    	<div class="ewm">
        	<ul>
        		<li><a href="#"><img src="img/wx-ewm.gif"/><br>官网微信</a></li>
        		<li><a href="#"><img src="img/wb-ewm.gif"/><br>官网微博</a></li>
        	</ul>
        </div>
    	
    	<div class="center-l-box mt10">
    		<div class="center-l-t"><span><a href="#">科研动态</a></span></div>
    		<div class="center-l-c">
    			<ul class="list">
                    <li><a href="#">关于召开第四界第四次会的通知</a></li>
                    <li><a href="#">关于召开第四界第四会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四会议的通知</a></li>
                </ul>
    
    		</div>
    
    		<div class="center-l-t" style="margin-top:15px"><span><a href="#">政策法规</a></span></div>
    		<div class="center-l-c">
    			<ul class="list">
                    <li><a href="#">关于召开第四界第四会议的通知</a></li>
                    <li><a href="#">关于召开第四界第次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第次会议的通知</a></li>
                </ul>
    
    		</div>
    	</div>
    
    </div>
    
    <div class="center-c pull-left ml10">
    	<div class="center-box">
    		<div class="center-box-t clearfix">
            	<a href="#" class="pull-right">更多>></a>
            	<div class="center-t pull-left">制药工业培训</div>
            	<a href="#" class="pull-left">报道通知</a>
                <a href="#" class="pull-left">培训会纪要</a>
            </div>
            <div class="center-box-c">
            	<div class="center-box-tip clearfix">
                	<img src="img/p5.jpg" width="109" height="72">
                    <div class="pull-left center-box-info">
                        <h1><a href="#">关于召开第四界第四次会议的通知</a></h1>		
                        <span>各市、县内审协会将本地区范围内的内审机构中内审人员持有的岗位资格证书统一收集，由省内</span>
                    </div>
                </div>
                
                <ul class="list">
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                </ul>
    		</div>
    	</div>
    
    	<div class="center-box" style="margin-top:10px">
    		<div class="center-box-t clearfix">
            	<a href="#" class="pull-right">更多>></a>
            	<div class="center-t pull-left">医械技术培训</div>
            	<a href="#" class="pull-left">报道通知</a>
                <a href="#" class="pull-left">培训会纪要</a>
            </div>
            <div class="center-box-c">
            	<div class="center-box-tip clearfix">
                	<img src="img/p5.jpg" width="109" height="72">
                    <div class="pull-right center-box-info">
                        <h1><a href="#">关于召开第四界第四次会议的通知</a></h1>		
                        <span>各市、县内审协会将本地区范围内的内审机构中内审人员持有的岗位资格证书统一收集，由省内</span>
                    </div>
                </div>
                
                <ul class="list">
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><span>(2016-03-07)</span><a href="#">关于召开第四界第四次会议的通知</a></li>
                </ul>
    		</div>
    	</div>
    
    </div>
    
    <div class="center-r pull-right">
    	<div class="func-div">
    		<div class="func-div-t clearfix">
            	<a href="#" class="more2"></a>
            	功能区
            </div>
    		<div class="func-div-c clearfix">
            	<table cellpadding="0" cellspacing="0">
            		<tr>
            			<td>
                        	<a href="#"><i class="i1"></i></a>
                            <span><a href="#">在线报名</a></span>
                        </td>
                        <td>
                        	<a href="#"><i class="i2"></i></a>
                            <span><a href="#">证书查询</a></span>
                        </td>
                        <td>
                        	<a href="#"><i class="i3"></i></a>
                            <span><a href="#">申请会员</a></span>
                        </td>
            		</tr>
            		<tr>
            			<td>
                        	<a href="#"><i class="i4"></i></a>
                            <span><a href="#">建议留言</a></span>
                        </td>
                        <td>
                        	<a href="#"><i class="i5"></i></a>
                            <span><a href="#">论文发表</a></span>
                        </td>
                        <td>
                        	<a href="#"><i class="i6"></i></a>
                            <span><a href="#">内训需求</a></span>
                        </td>
            		</tr>
            		<tr>
            			<td>
                        	<a href="#"><i class="i7"></i></a>
                            <span><a href="#">课程建议</a></span>
                        </td>
                        <td>
                        	<a href="#"><i class="i8"></i></a>
                            <span><a href="#">参与演讲</a></span>
                        </td>
                        <td>
                        	<a href="#"><i class="i9"></i></a>
                            <span><a href="#">参展申请</a></span>
                        </td>
            		</tr>
            	</table>
            </div>
        </div>
    
    	<div class="index-box mt10" style="width:100%; margin-left:0px">
        	<div class="index-box-wrap" style=" height:275px">
        		<div class="index-box-t clearfix">
                    <a href="#" class="more2"></a>
                    <span>质控菌株</span>
                </div>
                <div class="index-box-c">
                    <div class="index-box-img">
                        <img src="img/p5.jpg" width="98" height="66" />
                    </div>
                    <div class="index-box-item clearfix box1">
                        <a href="#" class="pull-left">菌株介绍</a>
                        <a href="#" class="pull-right">菌株检索</a>
                        <a href="#" class="pull-left">菌株推荐</a>
                        <a href="#" class="pull-right">订购流程</a>    
                    </div>
                    
                    <div class="clear"></div>
                    
                    <ul class="list box-list">
                        <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                        <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                        <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                        <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                        <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    </ul>
            
                </div>
            </div>
        </div>
    
    </div>
    
    <div class="clear"></div>
    
    <div class="center-banner clearfix">
    	<img src="img/p6.jpg">
    </div>
    
    <div class="index-box mt10 pull-left" style="margin-left:0px">
    	<div class="index-box-wrap">
            <div class="index-box-t clearfix">
                <a href="#" class="more2"></a>
                <span style="background-position:0px -500px">委托检测</span>
            </div>
            <div class="index-box-c">
        		<div class="index-box-img">
                	<img src="img/p5.jpg" width="98" height="66" />
                </div>
                <div class="index-box-item clearfix">
                	<a href="#" class="pull-left">服务流程</a>
                    <a href="#" class="pull-right">检测项目</a>
					<a href="#" class="pull-left">表单下载</a>
                    <a href="#" class="pull-right">样品邮寄</a>    
                </div>
                
                <div class="clear"></div>
                
        		<ul class="list box-list">
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                </ul>
        
        	</div>
        </div>
    </div>
    
    <div class="index-box mt10 pull-left" style="margin-left:13px">
    	<div class="index-box-wrap">
            <div class="index-box-t clearfix">
                <a href="#" class="more2"></a>
                <span style="background-position:0px -550px">菌种鉴定</span>
            </div>
            <div class="index-box-c">
        		<div class="index-box-img">
                	<img src="img/p5.jpg" width="98" height="66" />
                </div>
                <div class="index-box-item clearfix">
                	<a href="#" class="pull-left">鉴定程序</a>
                    <a href="#" class="pull-right">鉴定项目</a>
					<a href="#" class="pull-left">药典鉴定</a>
                    <a href="#" class="pull-right">表单下载</a>    
                </div>
                
                <div class="clear"></div>
                
        		<ul class="list box-list">
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                </ul>
        
        	</div>
        </div>
    </div>
    
    <div class="index-box mt10 pull-left" style="margin-left:13px">
    	<div class="index-box-wrap">
            <div class="index-box-t clearfix">
                <a href="#" class="more2"></a>
                <span style="background-position:0px -600px">工业培养基</span>
            </div>
            <div class="index-box-c">
        		<div class="index-box-img">
                	<img src="img/p5.jpg" width="98" height="66" />
                </div>
                <div class="index-box-item clearfix">
                	<a href="#" class="pull-left">干粉培养基</a>
                    <a href="#" class="pull-right">液体培养基</a>
					<a href="#" class="pull-left">预制平板</a>
                    <a href="#" class="pull-right">显色培养基</a>    
                </div>
                
                <div class="clear"></div>
                
        		<ul class="list box-list">
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                    <li><a href="#">关于召开第四界第四次会议的通知</a></li>
                </ul>
        
        	</div>
        </div>
    </div>
    
    <div class="clear"></div>
    
    <div class="link mt10 clearfix">
    	<div class="link-t">友情链接</div>
    	<div class="link-c" id="link-box">
        	<div id="link-box-wrap">
            	<div id="link-box1">
                    <ul>
                        <li><a href="#"><img src="img/p7.jpg">北京市食品药品监督局</a></li>
                        <li><a href="#"><img src="img/p7.jpg">北京市食品药品监管理局</a></li>
                        <li><a href="#"><img src="img/p7.jpg">北京市食品药品督管理局</a></li>
                        <li><a href="#"><img src="img/p7.jpg">北京市食品药品督管理局</a></li>
                        <li><a href="#"><img src="img/p7.jpg">北京市食品药品督管理局</a></li>
                        <li><a href="#"><img src="img/p7.jpg">北京市食品监督管理局</a></li>
                        <li><a href="#"><img src="img/p7.jpg">北京市食品管理局</a></li>
                        <li><a href="#"><img src="img/p7.jpg">北京市药品监督管理局</a></li>
                    </ul>
                </div>
                <div id="link-box2"></div>
            </div>
    	</div>
    </div>
    
</div>

<div class="foot-link">
	<div class="wrap clearfix">
		<dl style="width:200px">
			<dt>北京中工医药研究所</dt>
			<dd>
            	电话：010-80338393<br>
                邮箱：cncipi@126.com<br>
                网址：<a href="http://www.cncip.org" target="_blank">www.cncip.org</a>
            </dd>
		</dl>
        
        <dl style="width:240px">
			<dt>北京中仑工业微生物研究院</dt>
			<dd>
            	电话：010-56271519<br>
                邮箱：cncimi@126.com<br>
                网址：<a href="http://www.cncimi.org" target="_blank">www.cncimi.org</a>
            </dd>
		</dl>
        
        <dl style="width:325px">
			<dt>中国药品微生物控制与检测技术论坛</dt>
			<dd>
            	电话：010-56271519<br>
                邮箱：cncdmf@126.com<br>
                网址：<a href="http://www.cnCDMF.com" target="_blank">www.cnCDMF.com</a>
            </dd>
		</dl>
        
        <dl style="width:325px">
			<dt>中国国际药品微生物控制与检测高峰论坛</dt>
			<dd>
            	电话：010-56271519<br>
                邮箱：cnidmf@126.com<br>
                网址：<a href="http://www.cnIDMF.com" target="_blank">www.cnIDMF.com</a>
            </dd>
		</dl>
	</div>
</div>

<div class="foot">
版权所有 2010-2017  北京中工医药研究院  北京中仑工业微生物研究院<br>
地址：北京市京良路2号万科九晟商业广场1-21层 邮编：102422 电话：010-80338393 56271519 传真：010-56271516 邮箱：cncipi@126.com cncimi@126.com<br>

京ICP证05038177号 京公网安备110105013410号 站长统计 网站排名
</div>
</body>
</html>
