<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>北京中仑工业微生物研究所</title>
<meta name="keywords" content="北京中仑工业微生物研究所">
<meta name="description" content="北京中仑工业微生物研究所">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/basic.css" type="text/css" rel="stylesheet" />
<link href="css/login.css" type="text/css" rel="stylesheet" />
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/all.js" type="text/javascript"></script>
</head>
<body>
<div class="top">
	<div class="wrap clearfix">
    	<div class="top-a pull-right">
        	<a href="#">设为首页</a>
        	<a href="#">加入收藏</a>
        	<a href="#">帮助中心</a>
		</div>
		欢迎访问北京中仑工业微生物研究所
	</div>
</div>

<div class="head">
	<div class="wrap"></div>
</div>

<div class="white-bg">
	<div class="menu clearfix">
    	<ul>
    		<li class="current"><a href="#">网站首页</a></li>
    		<li><a href="#">机构介绍</a></li>
            <li><a href="#">新闻资讯</a></li>
    		<li><a href="#">委托检测</a></li>
    		<li><a href="#">科研动态</a></li>
    		<li><a href="#">质控菌株</a></li>
            <li><a href="#">菌种鉴定</a></li>
    		<li><a href="#">工业培养基</a></li>
            <li><a href="#">微生物论坛</a></li>
            <li><a href="#">技术与培训</a></li>
    		<li><a href="#">联系我们</a></li>
    	</ul>
    </div>
    
    <div class="position">您现在的位置:首页 > 新闻中心</div>
    
    <div class="page-l">
    	<div class="page-l-box">
    		<div class="page-l-t">新闻资讯</div>
    		<div class="page-l-c">
            	<a href="#">通知公告</a>
				<a href="#">新闻资讯</a>
				<a href="#">政策法规</a>
            </div>
    	</div>
        
        <div class="index-box mt10" style="width:100%; margin-left:0px">
        	<div class="index-box-wrap">
        		<div class="index-box-t clearfix">
                    <a href="#" class="more2"></a>
                    <span>联系我们</span>
                </div>
                <div class="index-box-c">
                    中国国际药品微生物控制与检测高峰论坛<br>
                    
                        电话：010-56271519<br>
                        邮箱：cnidmf@126.com<br>
                        网址：<a href="http://www.cnIDMF.com" target="_blank">www.cnIDMF.com</a>
                    
                    
            
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-r"> 
		<div class="page-r-t clearfix">
        	<span>在线报名</span>
        </div>

    	<div class="page-r-c">
        	<div class="login-box">
        	
            	<div class="login-box-l" style="border:0;width:100%">
                	<form onSubmit="return checkform()">
                	<ul class="form">
                        <li>
                            <span class="f">姓名<font style="color:#f00">*</font></span>
                            <input type="text" id="useId" class="need">
                            <samp>请输入姓名</samp>
                        </li>
                        <li>
                            <span class="f">手机号码<font style="color:#f00">*</font></span>
                            <input type="text" id="useName" class="need">
                            <samp>请输入手机号码</samp>
                        </li>
                        <li>
                            <span class="f">所在单位<font style="color:#f00">*</font></span>
                            <input type="text" id="mail" class="need">
                            <samp>请输入所在城市</samp>
                        </li>
                        <li>
                            <span class="f">E-Mail<font style="color:#f00">*</font></span>
                            <input type="text" id="company" class="need">
                            <samp>E-Mail</samp>
                        </li>
                        <li>
                            <span class="f">部门<font style="color:#f00">*</font></span>
                            <input type="text" id="depart" class="need">
                            <samp>请输入部门</samp>
                        </li>
                        <li>
                            <span class="f">职务<font style="color:#f00">*</font></span>
                            <input type="text" id="depart" class="need">
                            <samp>请输入职务</samp>
                        </li>
                        <li>
                            <span class="f">微博&微信</span>
                            <input type="text" id="depart">
                        </li>
                        
                        
                        <li>
                        	<span class="f">您的个人简介<font style="color:#f00">*</font></span>
                        	<textarea class="need"></textarea>
                            <samp>请输入您的个人简介</samp>
                            <div class="clear"></div>
                        </li>
                        <li>
                        	<span class="f">您的演讲经验<font style="color:#f00">*</font></span>
                        	<textarea class="need"></textarea>
                            <samp>请输入您的演讲经验</samp>
                            <div class="clear"></div>
                        </li>
                        <li>
                        	<span class="f">您的演讲题目<font style="color:#f00">*</font></span>
                        	<textarea class="need"></textarea>
                            <samp>请输入您的演讲题目</samp>
                            <div class="clear"></div>
                        </li>
                        <li>
                        	<span class="f">药品类演讲类型<font style="color:#f00">*</font></span>
                        	<div class="option-div">
                            	<input type="radio">微生物法规专场<input type="radio">微生物环境专场<input type="radio">微生物检验专场<input type="radio">微生物控制专场
                            
                            </div>
                            <div class="clear"></div>
                        </li>
                        <li>
                        	<span class="f">您的演讲会为参会者带来哪些收益<font style="color:#f00">*</font></span>
                        	<textarea class="need"></textarea>
                            <samp>请输入您的演讲题目</samp>
                            <div class="clear"></div>
                        </li>
                        <li>
                        	<span class="f">内容大纲(50字以上)<font style="color:#f00">*</font></span>
                        	<textarea class="need"></textarea>
                            <samp>请输入您的演讲题目</samp>
                            <div class="clear"></div>
                        </li>
                        <li>
                        	<span class="f">议题是否分享过？（在哪里分享过）<font style="color:#f00">*</font></span>
                        	<textarea class="need"></textarea>
                            <samp>请输入您的演讲题目</samp>
                            <div class="clear"></div>
                        </li>
                        
                        <li>
                            <span class="f">&nbsp;</span>
                            <button type="submit">提交</button>
                        </li>
                	</ul>
                    </form>
                </div>
        	
            	
            </div>
        </div>
    
    </div>
    
    <div class="clear"></div>
    
</div>

<div class="foot-link">
	<div class="wrap clearfix">
		<dl style="width:200px">
			<dt>北京中工医药研究所</dt>
			<dd>
            	电话：010-80338393<br>
                邮箱：cncipi@126.com<br>
                网址：<a href="http://www.cncip.org" target="_blank">www.cncip.org</a>
            </dd>
		</dl>
        
        <dl style="width:240px">
			<dt>北京中仑工业微生物研究院</dt>
			<dd>
            	电话：010-56271519<br>
                邮箱：cncimi@126.com<br>
                网址：<a href="http://www.cncimi.org" target="_blank">www.cncimi.org</a>
            </dd>
		</dl>
        
        <dl style="width:325px">
			<dt>中国药品微生物控制与检测技术论坛</dt>
			<dd>
            	电话：010-56271519<br>
                邮箱：cncdmf@126.com<br>
                网址：<a href="http://www.cnCDMF.com" target="_blank">www.cnCDMF.com</a>
            </dd>
		</dl>
        
        <dl style="width:325px">
			<dt>中国国际药品微生物控制与检测高峰论坛</dt>
			<dd>
            	电话：010-56271519<br>
                邮箱：cnidmf@126.com<br>
                网址：<a href="http://www.cnIDMF.com" target="_blank">www.cnIDMF.com</a>
            </dd>
		</dl>
	</div>
</div>

<div class="foot">
版权所有 2010-2017  北京中工医药研究院  北京中仑工业微生物研究院<br>
地址：北京市京良路2号万科九晟商业广场1-21层 邮编：102422 电话：010-80338393 56271519 传真：010-56271516 邮箱：cncipi@126.com cncimi@126.com<br>

京ICP证05038177号 京公网安备110105013410号 站长统计 网站排名
</div>
</body>
</html>
